@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-slate-900 bg-gray-50 dark:bg-slate-900 dark:text-slate-100 transition-colors duration-200;
  }
}

/* Custom Math Styles for cleaner HTML rendering of formulas */
.math-text {
  font-family: 'Times New Roman', serif;
  font-style: italic;
}

.math-symbol {
  font-family: 'Times New Roman', serif;
}